
###> symfony/framework-bundle ###
/backend/.env
/backend/.env.local
/backend/.env.dev
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/.htaccess
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/.idea/
/.idea/

###< symfony/framework-bundle ###

